.header {
    padding: 30px 0;
    position: relative;
    z-index: 2;
    background: #090909;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 5%;
    }

    &__wrap-mobile {
        display: none;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        width: 56%;
    }

    &__link {
        @include font(700, 18px, $white);
        transition: all ease .3s; 
    }

    &__link:not(:last-child) {
        margin-right: 20px;
    }

    &__link:hover {
         opacity: 0.6;
    }

    &__link:active {
        opacity: 0.4;
   }

    .btn_modal {
        margin-left: 10px;
    }

    .btn-burger {  
        display: none;   
        position: relative;
        right: 0;
        top: 0;
        border: none;
        background: none;
        cursor: pointer;
        .btn-burger-item {
            display: block;
            margin-bottom: 8px;
            width: 40px;
            height: 2px;
            background: $white;
            transition: all ease .3s;
        }
    }

    .btn-burger_active {
        .btn-burger-item:first-child {
            transform: rotate(45deg);
            transition: all ease .3s;
        }

        .btn-burger-item:last-child {
            transform: rotate(-45deg);
            position: relative;
            top: -9px;
            transition: all ease .3s;
        }

        .btn-burger-item:nth-child(2) {
            display: none;
            transition: all ease .3s;
        }
    }   
}

@media screen and (max-width: 768px) {

    .header {
        &__wrap-mobile {
            display: none;
            
            &_active {
                display: block;
            }
        }

        &__menu {
            display: none;
        }

        &__menu_burger {
            width: 28%;
            margin-left: 37%;
            text-align: center;
        }

        &__link {
            display: block;
            margin: 0 0 15px 0 !important;
        }

        &__menu_burger {
            display: block;
            width: 28%;
            margin-left: 37%;
            text-align: center;
        }
    
        &__link {
            display: block;
            margin: 0 0 15px 0 !important;
        }

        .btn-burger {
            display: block;
        }
    }
}

@media screen and (max-width: 576px) {
    .btn {
        width: 40%;
    }
}

