.main {
    background-image: url(../images/heroBG.png);
    background-size: 100vw 90vh;
    background-repeat: no-repeat;
    .hero {
        max-width: 1300px;
        height: 89vh;
        text-align: center;
        padding: 30px 5% 200px 0;
        &__logo {
            width: 100%;
            margin-bottom: 80px;
        }

        &__title {
            margin-bottom: 80px;
            @include font(900, 64px, $white);
        }

        &__blocks {
            width: 100%;
            display: flex;
            gap: 30px;
        }

        &__block {
            width: 180px;
            height: 167px;
            text-align: center;
            padding: 2% 0;
            border-radius: 20px;
            border: 2px solid rgba(100, 100, 100, 0.33);
            background: rgba(196, 196, 196, 0.20);
            backdrop-filter: blur(10px);
            transition: all ease .3s;
            cursor: pointer;
            &:hover {
                border: 2px solid rgb(209, 209, 209, 0.5);
            }
            &-description {
                display: none;
            }
        }

        &__block-active {
            width: 600px;
            height: 325px;
            text-align: left;
            padding: 25px 25px 54px 25px;
            border-radius: 20px;
            border: 2px solid rgba(100, 100, 100, 0.33);
            background: url(../images/boxBG.png);
            background-size: cover;
            background-position: 10%;
            .hero__block-description {
                display: block;
            }
        }

        &__block-icon {
            width: 73px;
        }

        &__block-title {
            display: block;
            margin: 15px 0 0;
            @include font(700, 18px, $white);
        }

        &__block-description {
            
            @include font(400, 16px, $white);
        }
    }
}

.chart-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    padding-bottom: 40px;
    &__decor {
        width: 100%;
        background-image: url(../images/chartBG.svg);
        background-size: contain;
        background-repeat: no-repeat;
        &-img {
            width: 72%;
            height: 72%;
            transform: translate(45px, 40px);
        }
    }
    .btn-chart {
        margin: 80px 0 0 16%;
        width: 70%;
    }
}

.wrapper {
    width: 100%;
    &__line {
        width: 75px;
        height: 8px;
        margin: 50px 0 20px;
        background: $red;
    }

    &__title {
        margin-bottom: 40px;
        @include font(900, 32px, $black);
    }
}

.wrapper_slid {
    padding-left: 6.5%;
}


.swiper {
    max-width: 1300px;
    margin-bottom: 160px;
    height: 900px;
    background-image: url(../images/swiperBG.svg);
    background-repeat: no-repeat;
    background-position: center 100%;
    .columns {
        display: flex;
        justify-content: center;
        .column {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .column:not(:last-child){
            margin-right: 5%;
        }

        .list {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &__title {
                width: 100%;
                margin-bottom: 37px;
                padding: 50px 0;
                @include font(700, 18px, $black);
            }
            &__title_first {
                background-image: url(../images/1.png);
                background-repeat: no-repeat;
                background-position: 7px 17px;
            }
            &__title_second {
                background-image: url(../images/2.png);
                background-repeat: no-repeat;
                background-position: 7px 17px;
            }
            &__item {
                margin-bottom: 58px;
                display: flex;
                justify-content: center;
                &_left {
                    justify-content: flex-start;
                }
            }
            &__item-text {
                display: flex;
                align-items: center;
                max-width: 351px;
                height: 73px;
                padding-left: 105px;
                @include font(400, 16px, $black);
                line-height: 150%;
            }
            &__item-text_first {
                background-image: url(../images/iconAnaliz.svg);
                background-repeat: no-repeat;
            } 
            &__item-text_second {
                background-image: url(../images/iconData.svg);
                background-repeat: no-repeat;
            } 
            &__item-text_third {
                background-image: url(../images/iconDiplomat.svg);
                background-repeat: no-repeat;
            } 
            &__row-item {
                display: flex;
                align-items: center;
                height: 40px;
                @include font(400, 32px, $black);
                line-height: 100%;
            }
            &_right {
                width: 100%;
            }
        }
    }
}


.swiper-pagination-bullet {
    width: 16px !important;
    height: 16px !important;
    margin: 0 10px !important;
    background: none !important;
    border: 2px solid #8a8a8a;
}
.swiper-pagination-bullet-active {
    width: 14px !important;
    height: 14px !important;
    background: $red !important;
    border: 2px solid $white;
    outline: 1px solid $red;
}

.swiper-pagination {
    margin-bottom: 60px;
}

#my-chart {
    width: 100% !important;
}



@media (max-width: 1200px) {

    .main {
        .hero {
            &__blocks {
                width: 600px;
                flex-wrap: wrap;
                margin: 0 auto;
            }
            &__block {

                padding: 4% 0;
            }
            &__block-active {
                padding: 25px 25px 25px 25px;
            } 
            &__logo {
                margin-bottom: 40px;
            }
            &__title {
                margin-bottom: 40px;
                font-size: 34px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    
    .main {
        .hero {
            padding: 30px 0 200px 0;
            &__blocks {
                width: 420px;
                gap: 21px;
            }

            &__block {
                width: 126px;
                height: 117px;
                &-icon {
                    width: 50px;
                }
                &-title {
                    margin: 5px 0 0;
                    font-weight: 500;
                    font-size: 15px;
                }
            }
    
            &__block-active {
                width: 420px;
                height: 280px;
                }
            } 
    }

    .chart-content {
        grid-template-columns: none;
        column-gap: 0;
        grid-template-rows: 1fr 1fr;
        align-items: center;
    }

    .swiper {
        background-position: center 70%;
        background-size: 67%;
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 576px) {

    .wrapper__title {
        font-size: 21px;
        margin-bottom: 15px;
    }

    .main {
        .hero {
            padding: 0 0 200px 0;
            &__logo {
                margin-bottom: 0;
            }

            &__logo svg {
                width: 280px;
            }

            &__title {
                font-size: 18px;
            }

            &__blocks {
                width: 300px;
                flex-direction: column;
                gap: 10px;
            }

            &__block {
                &-title {
                    margin: 5px 0 0;
                    font-weight: 400;
                    font-size: 15px;
                }
                &-active {
                    width: 300px;
                    height: 200px;
                    padding: 15px
                }               
                &-description {
                    font-size: 13px;
                }
            }
        }
    }

    .wrapper {
        .btn-chart {
            margin: 30px 0 0 16%;
        }
    }

    .swiper {
        height: 770px;
        margin-bottom: 25px;
        .columns {   
            .list {
                &__row-item {                    
                    @include font(400, 16px, $black);                   
                }
                &__title {
                    margin-bottom: 0;
                }
            }
        }
    }
}
