@font-face {
  font-family: "PFAgoraSansPro";
  src: url("../fonts/PFAgoraSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PFAgoraSansPro";
  src: url("../fonts/PFAgoraSansPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "PFAgoraSansPro";
  src: url("../fonts/PFAgoraSansPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PFAgoraSansPro";
  src: url("../fonts/PFAgoraSansPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PFAgoraSansPro", "sans-serif";
}

a {
  text-decoration: none;
  font-family: "PFAgoraSansPro", "sans-serif";
}

li {
  list-style-type: none;
}

.container {
  max-width: 1300px;
  padding: 0px;
  margin: 0 auto;
}

.btn {
  width: 24%;
  height: 60px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  line-height: 24px;
  background: #E01E2E;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
  transition: all ease 0.3s;
}

.btn:active {
  opacity: 0.5;
}

.header {
  padding: 30px 0;
  position: relative;
  z-index: 2;
  background: #090909;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5%;
}
.header__wrap-mobile {
  display: none;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  width: 56%;
}
.header__link {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  transition: all ease 0.3s;
}
.header__link:not(:last-child) {
  margin-right: 20px;
}
.header__link:hover {
  opacity: 0.6;
}
.header .btn_modal {
  margin-left: 10px;
}
.header #btn_burger {
  display: none;
  position: relative;
  right: 0;
  top: 0;
  padding: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header__wrap-mobile {
    display: none;
  }
  .header__menu {
    display: none;
  }
  #btn_burger {
    display: block !important;
  }
  .header__menu_burger {
    display: block;
    width: 28%;
    margin-left: 37%;
    text-align: center;
  }
  .header__link {
    display: block;
    margin: 0 0 15px 0 !important;
  }
}
.main {
  background-image: url(../images/heroBG.png);
  background-size: 100vw 90vh;
  background-repeat: no-repeat;
}
.main .hero {
  max-width: 1300px;
  height: 89vh;
  text-align: center;
  padding: 30px 5% 200px 0;
}
.main .hero__logo {
  width: 100%;
  margin-bottom: 80px;
}
.main .hero__title {
  margin-bottom: 80px;
  font-weight: 900;
  font-size: 64px;
  color: #fff;
}
.main .hero__blocks {
  width: 100%;
  display: flex;
  gap: 30px;
}
.main .hero__block {
  width: 180px;
  height: 167px;
  text-align: center;
  padding: 2% 0;
  border-radius: 20px;
  border: 2px solid rgba(100, 100, 100, 0.33);
  background: rgba(196, 196, 196, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: all ease 0.3s;
}
.main .hero__block-description {
  display: none;
}
.main .hero__block-active {
  width: 600px;
  height: 325px;
  text-align: left;
  padding: 25px 25px 54px 25px;
  border-radius: 20px;
  border: 2px solid rgba(100, 100, 100, 0.33);
  background: url(../images/boxBG.png);
  background-size: cover;
  background-position: 10%;
}
.main .hero__block-active .hero__block-description {
  display: block;
}
.main .hero__block-icon {
  width: 73px;
}
.main .hero__block-title {
  display: block;
  margin: 25px 0 0;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}
.main .hero__block-description {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.chart-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding-bottom: 40px;
}
.chart-content__decor {
  width: 100%;
  background-image: url(../images/chartBG.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.chart-content__decor-img {
  width: 72%;
  height: 72%;
  transform: translate(45px, 40px);
}
.chart-content .btn-chart {
  margin: 80px 0 0 16%;
  width: 70%;
}

.wrapper {
  width: 100%;
}
.wrapper__line {
  width: 75px;
  height: 8px;
  margin: 50px 0 20px;
  background: #E01E2E;
}
.wrapper__title {
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 32px;
  color: #141515;
}

.wrapper_slid {
  padding-left: 6.5%;
}

.swiper {
  max-width: 1300px;
  margin-bottom: 160px;
  height: 900px;
  background-image: url(../images/swiperBG.svg);
  background-repeat: no-repeat;
  background-position: center 100%;
}
.swiper .columns {
  display: flex;
  justify-content: center;
}
.swiper .columns .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.swiper .columns .column:not(:last-child) {
  margin-right: 5%;
}
.swiper .columns .list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.swiper .columns .list__title {
  width: 100%;
  margin-bottom: 37px;
  padding: 50px 0;
  font-weight: 700;
  font-size: 18px;
  color: #141515;
}
.swiper .columns .list__title_first {
  background-image: url(../images/1.png);
  background-repeat: no-repeat;
  background-position: 7px 17px;
}
.swiper .columns .list__title_second {
  background-image: url(../images/2.png);
  background-repeat: no-repeat;
  background-position: 7px 17px;
}
.swiper .columns .list__item {
  margin-bottom: 58px;
  display: flex;
  justify-content: center;
}
.swiper .columns .list__item_left {
  justify-content: flex-start;
}
.swiper .columns .list__item-text {
  display: flex;
  align-items: center;
  max-width: 351px;
  height: 73px;
  padding-left: 105px;
  font-weight: 400;
  font-size: 16px;
  color: #141515;
  line-height: 150%;
}
.swiper .columns .list__item-text_first {
  background-image: url(../images/iconAnaliz.svg);
  background-repeat: no-repeat;
}
.swiper .columns .list__item-text_second {
  background-image: url(../images/iconData.svg);
  background-repeat: no-repeat;
}
.swiper .columns .list__item-text_third {
  background-image: url(../images/iconDiplomat.svg);
  background-repeat: no-repeat;
}
.swiper .columns .list__row-item {
  display: flex;
  align-items: center;
  height: 40px;
  font-weight: 400;
  font-size: 32px;
  color: #141515;
  line-height: 100%;
}
.swiper .columns .list_right {
  width: 100%;
}

.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  margin: 0 10px !important;
  background: none !important;
  border: 2px solid #8a8a8a;
}

.swiper-pagination-bullet-active {
  width: 14px !important;
  height: 14px !important;
  background: #E01E2E !important;
  border: 2px solid #fff;
  outline: 1px solid #E01E2E;
}

.swiper-pagination {
  margin-bottom: 60px;
}

#my-chart {
  width: 100% !important;
}

@media (max-width: 1200px) {
  .main .hero__blocks {
    width: 600px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .main .hero__logo {
    margin-bottom: 40px;
  }
  .main .hero__title {
    margin-bottom: 40px;
    font-size: 34px;
  }
}
@media screen and (max-width: 768px) {
  .chart-content {
    grid-template-columns: none;
    -moz-column-gap: 0;
         column-gap: 0;
    grid-template-rows: 1fr 1fr;
    align-items: center;
  }
  .swiper {
    background-position: center 70%;
    background-size: 67%;
    margin-bottom: 80px;
  }
}/*# sourceMappingURL=style.css.map */